div.kmap-cl-solution {

  a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../../img/x.png');
  }

  button {
    width: 8em;
  }

  button.kmap-cl-solve{
    display: inline-block;
    float: right;
  }


  button.kmap-cl-topng {
    display: inline-block;
    float: right;
    margin-right: 1em;
  }

  input[type="text"] {
    width: 100%;
    font-size: 0.9em;
  }

  // Results div
  >div {

    p {
      font-size: 1.1em;
      text-align: center;
    }
  }
}
